{
  "extends": "cooperka/react",

  "parser": "babel-eslint",

  "env": {
    "browser": true,
    "jest": true
  },

  "ignorePatterns": ["lib", "build", "dist", "artifacts", "tmp", "out"],

  // Any rules here will override those from
  // https://github.com/cooperka/eslint-config-cooperka.
  "rules": {
    // Handled by Prettier.
    "react/jsx-one-expression-per-line": "off"
  }
}
