# See http://help.github.com/ignore-files/ for more about ignoring files.

# Dependencies.
node_modules/

# Secrets.
.env

# Build artifacts.
lib/
build/
dist/
artifacts/
tmp/
out/
.firebase/
.netlify/

# Testing.
coverage/

# Logs.
*.log

# IDE files.
.idea/*
!.idea/runConfigurations

# Misc.
.DS_Store
.eslintcache
